{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {
        "Buffer": true,
        "escape": true
    },
    "rules": {
        "strict": [
            "error",
            "global"
        ],
        "curly": 0,
        "no-empty": 0,
        "no-underscore-dangle": 0,
        "new-cap": 0,
        "dot-notation": 0,
        "no-trailing-spaces": 2,
        "space-unary-ops": 0,
        "no-unused-expressions": "off",
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used"
            }
        ],
        "no-new": "off",
        "no-console": "off",
        "no-shadow": "off",
        "quotes": "off",
        "no-undef": "off",
        "no-use-before-define": [
            "error",
            {
                "functions": false
            }
        ],
        "prefer-const": [
            "error",
            {
                "destructuring": "any",
                "ignoreReadBeforeAssign": false
            }
        ],
        "no-var": "error",
        "no-template-curly-in-string": "error"
    }
}